bin/
etc/
include/
lib/
share/
pyvenv.cfg
.DS_Store

/images
*.csv
/chest_xray

56ef03b054e28f84c6d7d26306f4a1c4e262e822
*.h5
pneumonia_model.h5

server/__pycache__/**
server/database.db

Data_Entry_2017_v2020.csv

__pycache__/
*.py[cod]
*$py.class

/images
*.csv
/chest_xray

firebase-cred.json
*hack-env
.hack-env
.env
google-cred.json
notes.md
supabase/
schema.sql

*.h5
pneumonia_model.h5

__pycache__/
*.py[cod]
*$py.class

*val
*test
*train
*models_and_weights